body{
    font-family: 'Lexend Deca', sans-serif;
    padding: 0;
    margin: 0;
}

.body-azulao{
    background-color: rgb(14, 54, 175);
  
}

.login-txt{
    font-size: 3rem;
    color: white;
    margin-left: 5%;
    margin-top: 25%;
    margin-bottom: 15%  ;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-login input{
    margin-bottom: 7%;
    padding: 4%;
    border-radius: 15px;
    width: 70%;
}

.form-login input:hover{
    background-color: rgb(210, 210, 215);
}

.button-login{
    color: #eee;
    background-color: rgb(14, 54, 175);
    border: 1px solid #eee;
    width: 45%;
    border-radius: 20px;
    margin-top: 6%;
    font-size: 1.3rem;
    padding: 1.5%;
}

.button-login:active{
    background-color: rgb(62, 167, 236);
}

.img-login{
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

.img-login img{
    width: 20%;
    
}

.registrar-login{
    margin-left: 8%;
    margin-top: 9%;
    font-size: 1.2rem;
}

.registre-login{
    color: white;
}

.logar-login{
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-logar-login{
    margin-bottom: 8%;
}
